#container-video{
  height:50%;
  background-size: cover;
  width:50%;
  position:relative;
  margin:0 auto;
}
#container-video img{
  width:100%;
  text-align: center;
  position: relative;
}

#clip-video{
  width:50%;
  overflow:hidden;
  padding:0;
  margin:0;
  line-height: 0px;
}
#stil-video{
  overflow: hidden;
  border-radius: 15px;
  position:relative;
}
#stil-video::after
{
  position:absolute;
  display:block;
  content:" ";
  width:100%;
  height:21px;
  box-shadow: 0px 0px 10px 5px black ;
}
video{
  margin:0;
  padding:0;
  transition: all 0.2s linear;
  width:100%;
  border-radius: 10px;
  height:auto;
}
#centrare-video{
  position:absolute;
  top: 50%;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

::cue
{
  background-color: white;
  /* opacity: 0.3; */
  color: var(--afi);
}

@media screen and (max-width:650px)
{
  #centrare-video
  {
      top: 5%;
  }
}