<!-- FOOTER -->
<footer id="footer">
    <div id = "intrebari">
        <hr>
        <h3>Intrebari</h3>
        <a href="#">Cum se utilizeaza platforma</a>
    </div>
    
    <br>
    <br>
    <details closed>
        <summary>FAQ</summary>
        <ol>
            <!-- FAQ PT DETAILS/SUMMARY -->
            <li>Acest site este sigur, nu sunt vanzatori care ma vor pacali sau ceva, nu?
                - Pe acest site vanzatorii sunt evaluati de catre utilizatori care cumpara daca au fost seriosi sau nu,
                asta include si daca au pacalit cumparatori sau nu,
                dar in tot acest timp nu s-au gasit reclamatii sau rating-uri care au determinat un vanzator ca fiind un
                escroc, dar in orice caz, daca vi se intampla ceva, puteti oricand sa ne contactati pentru suport</li>
            <li>Aici voi gasi orice cartonas pe care mi-l doresc? - Pe site se pun la vanzare o gama foarte larga si
                diversa de cartonase,
                este aproape imposibil sa nu gasesti cartonasul acela care exista doar intr-un singur booster box care
                nu se mai produce si costa aproape intreaga avere a familiei tale</li>
            <li>Ce se intampla daca sunt vanzator escroc? - Conform legii din Egiptul Antic, vei fi provocat la un Duel
                pe care garantat il vei pierde,
                atunci drept pedeapsa pentru ca ai pierdut vei fi trimis in Shadow Realm unde notiunea timpului nu
                exista acolo si tot ce vei vedea in jurul tau va fi numai intunericul rece din sufletul tau ;)</li>
        </ol>
    </details>
    <hr>
    <h3>Date de contact</h3>
    <address class="adresa">
        <ul>
            <li><a href="tel:+40766666666">Tel: 0766666666</a></li>
            <li>Adresa: Str. Straduta nr 1</li>
            <li><a href="mailto:mail@email.com">mail: mail@email.com</a></li>
        </ul>

    </address>
    <br>
    <div id = "alt-tab" >
        <a href="index.html">Deschide in alt tab,</a>
        niciodata nu poti avea prea multe tab-uri :)))))))
    </div>
    
    <br>
    <br>
    <!-- COPYRIGHT -->
    &copy; Copyright <time datetime="2021-03-06">6 Martie 2021</time>
</footer>