<meta charset="UTF-8">
<meta name="description" content="Piata cartonaselor de joc">
<meta name="keywords" content="piata cartonaselor de joc, cartonase, pretul cartonaselor">
<meta name="author" content="Paraschiv Darius-Andrei">
<!-- Title corespunzator -->
<title>Piata cartonaselor de joc</title>
<!-- Favicon relevant -->
<link rel="shortcut icon" href="materiale/favicon.ico">
<link rel="stylesheet" href="/resurse/general.css">
<link rel="stylesheet" href="/resurse/Z-500.css" media="screen and (max-width:650px)">
<link rel="stylesheet" href="/resurse/nav.css" media="screen and (min-width:650px)">
<link rel="stylesheet" href="/resurse/nav-500.css" media="screen and (max-width:650px)">
<link rel="stylesheet" href="/resurse/table.css">
<link rel="stylesheet" href="/resurse/table-500.css" media="screen and (max-width:650px)">
<link rel="stylesheet" href="/resurse/banner.css" media="screen and (min-width:650px)">
<link rel="stylesheet" href="/resurse/tab.css">
<link rel="stylesheet" href="/resurse/video.css">
<link rel="stylesheet" href="/resurse/galerie-statica.css">
<link rel="stylesheet" href="/resurse/galerie-animata.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" href="/resurse/print.css">
<!-- <link rel="stylesheet" href="font-awesome-animation.min.css"> -->