<header id = "header">
        <h1>Piata cartonaselor de joc Yu-Gi-Oh! <i class="fas fa-ankh"></i></h1>

      </header>

      <nav id = "nav">
          <div id="bc-burg">
            <label for="check">
              <img id="burg" src="materiale\bars.png" alt="burgee" width="50px" height="50px">
            </label>
          </div>
          <input id="check" type="checkbox">
          <ul class="menu">
            <li class="opt"><a href="/index"><i class="fas fa-home"></i><span class="home">Home</span></a></li>
            <li class="sub"><a href="/produse">Produse <i class="fas fa-dice-d20 fa-spin"></i></a>
              <ul class="sub-menu">
                <li id="single"><a href="#"><i>Singles</i></a></li>
                <li id="pack"><a href="#"><i>Packs</i></a></li>
                <li id="box"><a href="#"><i>Box-uri</i></a></li>
                <li id="set"><a href="#"><i>Set-uri</i></a></li>
              </ul>
            </li>
            <li class="opt"><a href="/about_ygo">About Yu-Gi-Oh!</a></li>
          </ul>   
      </nav>