<head>
    <meta charset="UTF-8">
    <meta name="description" content="Piata cartonaselor de joc">
    <meta name="keywords" content="piata cartonaselor de joc, cartonase, pretul cartonaselor">
    <meta name="author" content="Paraschiv Darius-Andrei">
    <!-- Title corespunzator -->
    <title>Eroare 403</title>
    <!-- Favicon relevant -->
    <link rel="shortcut icon" href="materiale/favicon.ico">
    <link rel="stylesheet" href="/resurse/general.css">
    <link rel="stylesheet" href="/resurse/Z-500.css" media="screen and (max-width:650px)">
    <link rel="stylesheet" href="/resurse/nav.css" media="screen and (min-width:650px)">
    <link rel="stylesheet" href="/resurse/nav-500.css" media="screen and (max-width:650px)">
    <link rel="stylesheet" href="/resurse/table.css">
    <link rel="stylesheet" href="/resurse/table-500.css" media="screen and (max-width:650px)">
    <link rel="stylesheet" href="/resurse/banner.css" media="screen and (min-width:650px)">
    <link rel="stylesheet" href="resurse/tab.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="font-awesome-animation.min.css"> -->
</head>
<%- include("../fragmente/header") %>
<h1>Eroare 403, nu ai voie sa accesezi asta, in Shadow Realm cu tine</h1>
<%- include("../fragmente/footer") %>