<!DOCTYPE html>
<html lang="ro" dir="ltr">
  <head>
    <%- include("../fragmente/head") %>
  </head>
  
  <body>
    <%- include("../fragmente/header") %>
    <p id="watermark"></p>
    <main>
      <!-- ARTICLE -->
      <article>
        <h2>About Yu-Gi-Oh!</h2>
        <!-- P, OL, UL -->
        <p>
          <!-- B, I, EM, Q, DFN -->
          <b>Yu-Gi-Oh!</b> este unul dintre cele mai populare jocuri de tip <b>cardgame</b> creat de compania de jocuri video, <b>Konami</b>.<br />
          Jocul a aparut in urma primului sezon din prima serie <i>anime</i> <b>Yu-Gi-Oh! <i>Duel Monsters</i></b>,<br />
          unde se presupunea ca jocul sa fie <em>doar in <i>anime</i> si doar in acel sezon</em>,<br />
          dar pana la urma <b>Konami</b> au inceput productia cartonaselor si de asemenea stabilirea regulilor <em>oficiale</em>,<br />
          de atunci seria <i>anime</i> a continuat sa fie despre acest joc, la fel si urmatoarele serii.<br />
          <dfn>Anime</dfn> reprezinta animatia produsa in Japonia
        </p>
      </article>
      <hr />
      <q>Believe in the heart of the cards - Atem, pharaoh</q>
      <hr />
      Toate seriile anime aparute pana acuma sunt:
      <ol>
        <li><i>Yu-Gi-Oh!</i> <b>Duel Monsters</b></li>
        <li><i>Yu-Gi-Oh!</i> <b>GX</b></li>
        <li><i>Yu-Gi-Oh!</i> <b>5Ds</b></li>
        <li><i>Yu-Gi-Oh!</i> <b>Zexal</b></li>
        <li><i>Yu-Gi-Oh!</i> <b>Arc-V</b></li>
        <li><i>Yu-Gi-Oh!</i> <b>Vrains</b></li>
        <li><i>Yu-Gi-Oh!</i> <b>Sevens</b></li>
      </ol>
      <br />
      <hr>
      Iar tipurile de cartonase din joc sunt:
      <ul>
        <li><b>Monstrii</b>
          <ul>
            <li>Normal</li>
            <li>Efect</li>
            <li>Ritual</li>
            <li>Fusion</li>
            <li>Synchro</li>
            <li>Xyz</li>
            <li>Pendulum</li>
            <li>Link</li>
          </ul>
        </li>

        <li><b>Spell</b>
          <ul>
            <li>Normal</li>
            <li>Continuous</li>
            <li>Field</li>
            <li>Quick-Play</li>
            <li>Equip</li>
            <li>Ritual</li>
          </ul>
        </li>

        <li><b>Trap</b>
          <ul>
            <li>Normal</li>
            <li>Continuous</li>
            <li>Counter</li>
          </ul>
        </li>

      </ul>
      <hr />
      <!-- ASIDE -->
      <aside class="info">
        <!-- LINK IFRAME -->
        Daca doresti sa vezi cum se joaca, sau daca vrei sa afli mai multe despre seria anime apasa pe unul dintre link-urile de mai jos:
        <br>
      </aside>
      <div class="flex">
        <div class="tab">
          <a href="https://www.youtube.com/embed/8jqRznO0NdU" target="ifr"><b>Joc</b></a>
          <a href="https://en.wikipedia.org/wiki/Yu-Gi-Oh!" target = "ifr"><b>Anime</b></a>
        </div>
        <iframe class="ifr" name="ifr" width="1000" height="650" src="https://www.youtube.com/embed/8jqRznO0NdU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <%- include("../fragmente/galerie-s") %>
    </main>
    <%- include("../fragmente/footer") %>
  </body>
</html>
